SPRING_DATASOURCE_URL=jdbc:server://localhost:0000/name_db
SPRING_DATASOURCE_USERNAME=********
SPRING_DATASOURCE_PASSWORD=*******
APP_UPLOAD_DIR=*****/*****

# Docker-compose
MYSQL_DATABASE=name_db
MYSQL_ROOT_PASSWORD=******
MYSQL_USER=*******
MYSQL_PASSWORD=******
SPRING_DATASOURCE_DOCKER_URL=jdbc:mysql://db:port/name_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true